body {
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}
.main {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav     main"
        "nav     aside"
        "footer      footer";
        grid-template-columns: 220px 1fr ;

     grid-template-rows:80px 1fr 1fr 60px;
     height: 100vh;
     gap:12px;
     padding : 12px ;
     background: white;

 } 
 header{
    grid-area: header; background: #084111;color: aliceblue;}